html {
    width: 100vw;
}
body{
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    font-size: 100%;
}

/* Top of the Application */
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

header h1 {
    font-size: 5em;
}

header p {
    font-size: 3em;
}

/* NavBar Component */
@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-nav > li.navbar-right {
        float: right !important;
    }
}

#header-options li {
    padding: 1em 1em 1em 1em;
    font-size: 2.5em;
    font-weight: bold;
}
#header-options li:hover {
    background-color: #d0edf5;
    cursor: pointer;
}

.navbar-header button {
    /* width: 2em; */
    /* height: 2em; */
}

.icon-bar {
    color: black;
}

/* Diagnosis Component */


/* Encyclopedia Component */
#encyclopedia li {
    font-size: 3em;
}
#encyclopedia a:hover {
    text-decoration: none;
}


/* Personal Component */