html {
    width: 100vw;
}
body{
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    font-size: 100%;
}

/* Top of the Application */
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

header h1 {
    font-size: 5em;
}

header p {
    font-size: 3em;
}

/* NavBar Component */
@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-nav > li.navbar-right {
        float: right !important;
    }
}

#header-options button {
    padding: 0.75em 0.75em 0.75em 0.75em;
    background: none;
    border: none;
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: none;
}
#header-options button:hover {
    background-color: #d0edf5;
    cursor: pointer;
}

.icon-bar {
    color: black;
}

/* Diagnosis Component */
.symptoms input {
    box-sizing: border-box;
    padding: 10px 0;
    padding-left: 10px;
    /* background: transparent; */
    /* border: none; */
    width: 100%;
    font-size: 2em;
}
.symptoms input:focus{
  outline: 0;
}
.symptoms button {
    box-sizing: border-box;
    padding: 5px 0;
    width: 100%;
    font-size: 2em;
    vertical-align: center;
}

/* Encyclopedia Component */
.encyclopedia li {
    padding: 0px 0px 0px 10px;
    font-size: 3em;
}
.encyclopedia a:hover {
    text-decoration: none;
}


/* Personal Component */