html {
    width: 98vw;
}
body{
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    height: 100%;
    width: 100%;
    font-size: 100%;
}

/* Top of the Application */
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

header h1 {
    font-size: 5em;
}

header p {
    font-size: 3em;
}

/* NavBar Component */
@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-nav > li.navbar-right {
        float: right !important;
    }
}

#header-options button {
    padding: 0.75em 0.75em 0.75em 0.75em;
    background: none;
    border: none;
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: none;
}
#header-options button:hover {
    background-color: #d0edf5;
    cursor: pointer;
}
.active {
    background-color: #d0edf5;
    cursor: pointer;
}
.not-active {
    background-color: none;
    cursor: pointer;
}
.icon-bar {
    color: black;
}

/* Diagnosis Component */
.diagnosis {
    padding-bottom: 50px;
}
.diagnosis input {
    box-sizing: border-box;
    padding: 10px 0;
    padding-left: 10px;
    /* background: transparent; */
    /* border: none; */
    width: 100%;
    font-size: 2em;
}
.diagnosis input:focus{
  outline: 0;
}
.diagnosis button {
    box-sizing: border-box;
    padding: 5px 0;
    width: 100%;
    font-size: 2em;
    vertical-align: center;
}
.symptoms {
    font-weight: bold;
}

/* Encyclopedia Component */
.encyclopedia {
    border-style: solid;
    background-color: aliceblue;
    cursor: default;
    padding: 20px 0px 50px 0px;
}
.encyclopedia li {
    padding-bottom: 30px;
    font-size: 3em;
    list-style-type: none;
    margin-left: 70px;
    margin-right: 70px;
}
.encyclopedia a {
    font-size: 2.5em;
    color: blue;
}
.encyclopedia a:hover {
    text-decoration: none;
}
.encyclopedia h2 {
    font-size: 0.85em;
    font-weight: bold;
}
.encyclopedia p {
    font-size: 0.75em;
}

/* Personal Component */
.personal {
    padding-bottom: 50px;
}
.personal h1 {
    font-size: 6em;
    color: blue;
}
.personal h2 {
    font-size: 3.5em;
    color: black;
    font-weight: bold;
}
.personal p {
    font-size: 3em;
}
#bmi-image {
    max-width: 110%;
    height: auto;
    width: auto;
}
#bmi-calculator {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 40%;
}
.bmi-form button {
    padding: 3px 10px 3px 10px;
}